<ActionBar title="List of my products"></ActionBar>

<ScrollView>
  <GridLayout>
    <!-- <StackLayout>
    <button text="Click Me" nsRouterLink="/productdetails"></button>
  </StackLayout> -->

    <StackLayout>
      <StackLayout
        *ngFor="let product of productsReal"
        class="productContainer"
        [nsRouterLink]="['/productdetails', product.id]"
      >
        <Image
          [src]="
            product.data[0].attributes.productimage.data.formats.medium.url
          "
          class="productImage"
        ></Image>
        <label
          [text]="product.data[0].attributes.productname"
          class="h1"
        ></label>
        <label
          [text]="product.data[0].attributes.productdescription"
          textWrap="true"
        ></label>
        <label
          [text]="'$' + product.data[0].attributes.price"
          class="ProductPrice"
        ></label>
      </StackLayout>
    </StackLayout>
  </GridLayout>
</ScrollView>
