@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

Button.-primary {
  font-size: 18;
}

.h1 {
  font-size: 75;
}

.button {
  background: blue;
  border: 1 solid red;
  border-radius: 5;
}

.bg-black {
  background: white;
}
